html
  head
  link(rel="stylesheet", href="http://localhost:5000/public/bootstrap/dist/css/bootstrap.css")
  link(rel="stylesheet", href="http://localhost:5000/public/bootstrap/dist/css/sb-admin.css")
  script(src="http://localhost:5000/public/jquery/dist/jquery.min.js")
  script(src="http://localhost:5000/public/bootstrap/dist/js/bootstrap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js")

  body
    div(id="wrapper")
      include partials/nav
      #page-wrapper
        .container-fluid
          .row
            .col-lg-12
              .form-group
                label(for="") Select text
                input(type="text" class="form-control")
                button(class="btn btn-primary ") Submit
              h1 Selected text
              p #{text}
              hr
              br
              each table, index in ldaData
                .col-lg-4
                  table(class="table")
                    thead
                      tr Topic #{index + 1}
                    tbody
                      each row, index in table
                        tr
                          td= row.term
                          td= row.probability
                      
