.panel.panel-default
  .panel-heading
    h3.panel-title
      i.fa.fa-long-arrow-right.fa-fw
      |  Donut Chart
  .panel-body
    #morris-donut-chart
      svg(height='362', version='1.1', width='330', xmlns='http://www.w3.org/2000/svg', style='overflow: hidden; position: relative;')
        desc(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);') Created with Raphaël 2.1.2
        defs(style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
        path(fill='none', stroke='#0b62a4', d='M165,286.8333333333333A103.33333333333333,103.33333333333333,0,0,0,262.60721370298324,217.42063694740904', stroke-width='2', opacity='0', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;')
        path(fill='#0b62a4', stroke='#ffffff', d='M165,289.8333333333333A106.33333333333333,106.33333333333333,0,0,0,265.44097152016667,218.405429632979L306.6878908591693,232.73963427849702A150,150,0,0,1,165,333.5Z', stroke-width='3', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
        path(fill='none', stroke='#3980b5', d='M262.60721370298324,217.42063694740904A103.33333333333333,103.33333333333333,0,0,0,72.30772622129429,137.82812507120775', stroke-width='2', opacity='1', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;')
        path(fill='#3980b5', stroke='#ffffff', d='M265.44097152016667,218.405429632979A106.33333333333333,106.33333333333333,0,0,0,69.61666020836412,136.50216741198477L25.96158933194144,114.99218760681163A155,155,0,0,1,311.41082055447487,234.38095542111358Z', stroke-width='3', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
        path(fill='none', stroke='#679dc6', d='M72.30772622129429,137.82812507120775A103.33333333333333,103.33333333333333,0,0,0,164.96753687644693,286.83332823403777', stroke-width='2', opacity='0', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;')
        path(fill='#679dc6', stroke='#ffffff', d='M69.61666020836412,136.50216741198477A106.33333333333333,106.33333333333333,0,0,0,164.96659439866633,289.8333280859937L164.95287611097132,333.4999925977968A150,150,0,0,1,30.44669935349171,117.20211703884996Z', stroke-width='3', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
        text(x='165', y='173.5', text-anchor='middle', font='10px "Arial"', stroke='none', fill='#000000', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-stretch: normal; font-size: 15px; line-height: normal; font-family: Arial;', font-size='15px', font-weight='800', transform='matrix(1.8594,0,0,1.8594,-141.7907,-156.1994)', stroke-width='0.5378024193548387')
          tspan(dy='5.25', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);') In-Store Sales
        text(x='165', y='193.5', text-anchor='middle', font='10px "Arial"', stroke='none', fill='#000000', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial;', font-size='14px', transform='matrix(2.2222,0,0,2.2222,-201.6476,-227.0278)', stroke-width='0.44999999999999996')
          tspan(dy='4.75', style='-webkit-tap-highlight-color: rgba(0, 0, 0, 0);') 30
    .text-right
      a(href='#')
        | View Details 
        i.fa.fa-arrow-circle-right
