link(rel="stylesheet", href="./public/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="./public/bootstrap/dist/css/sb-admin.css")
script(src="./public/jquery/dist/jquery.min.js")
script(src="./public/bootstrap/dist/js/bootstrap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js")
